.about-page {
  /*background-image: linear-gradient(#16244d, #193c64);*/
  
    background-image: linear-gradient(#151f52, #132044);
    padding: 40px 20px;
    color: #E1DDC3;
  }
  
  .team-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  .description {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 20px 0;
    color: #E1DDC3;
  }
  
  .card {
    background-color: #1F2D3d;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    color: #E1DDC3;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    min-height: 300px;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #c1c1c1;
    margin-top: 15px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-text ul{
    padding-left: 0;
    list-style-type: none ;
    margin: 0;
    text-align: center;
  }

  .card-text li{
    margin-bottom: 8px;
  }

  .icon{
    width: 50px;
    height: 300px;
    fill: #FF873D;
    margin-bottom: 20px;
  }

  h1{
    color: #FF873D;
  }
  

  .back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid #FF873D;
    color: #FF873D;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #FF873D;
    color: white;
  }
  
  .image-placeholder {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0; /* Cor neutra ou um padrão de fundo */
    background-image: url('/src/img/cidade-manaus.png'); /* Imagem de placeholder opcional */
    background-size: cover;
    background-position: center;
}
