/* Reset e configuração inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  height: 100%;
}

/* Estrutura da página principal */
.login-page {
  display: flex;
  height: 100vh;
  background-color: #007bff;
}

/* Configuração do container da imagem */
.img-container {
  width: 100%; /* Ajuste para evitar que ultrapasse a tela */
  height: 100%;
  background-image: url('../img/bruno.png');
  background-size: 70%; /* Troca para cover para preencher toda a área sem distorção */
  background-position: center;
  background-repeat: no-repeat;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* Container de login */
.login-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
}

.login-container h1 {
  font-size: 54px;
  color: #FF873D;
  margin-bottom: 60px;
  text-align: center;
  font-weight:lighter;
}

.login-container h2 {
  font-size: 34px;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
  font-weight:lighter;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #52a3ffde;
  border-radius: 5px;
  font-size: 18px;
  font-weight:lighter;
}

.btn-about {
  margin-top: 95px;
  background: none;
  color: #007bff;
  padding: 10px 20px;
  border: solid 1px #52a3ffde;
  border-radius: 5px;
  cursor: pointer;
  font-weight: normal;
  font-size: 18px;
  transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn-about:hover {
  background: #007bff;
  color: #ffffff;
  font-weight: normal;
}

/* Botões */
.btn-submit,
.btn-secondary {
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-submit {
  background: #007bff;
  color: #ffffff;
}

.btn-submit:hover {
  background: #086bff;
}

.btn-secondary {
  background: #FF873D;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #f88400;
}

.btn-link {
  margin-top: 20px;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.btn-link:hover {
  color: #FF873D;
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 1024px) {
  .login-container {
    width: 80%;
    padding: 50px;
  }
  
  .login-container h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .login-container h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .login-page {
    flex-direction: column; /* Coloca o login container e imagem em coluna */
  }

  .img-container {
    height: 50vh; /* Diminui a altura da imagem */
    background-size: contain;
    margin-bottom: 20px;
  }

  .login-container {
    width: 100%;
    padding: 30px;
  }

  .login-container h1 {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .login-container h2 {
    font-size: 28px;
  }
  
}

@media (max-width: 425px) {
  .img-container {
    height: 50vh; /* Diminui a altura da imagem */
    background-size: contain;
    margin-bottom: 20px;
  }

  .login-container h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .login-container h2 {
    font-size: 22px;
  }

  .btn-submit, .btn-secondary {
    padding: 10px;
    font-size: 14px;
  }

  .btn-about {
    padding: 10px;
    font-size: 14px;
  }

}

@media (max-width: 375px) {
  .img-container {
    height: 50vh; /* Diminui a altura da imagem */
    background-size: contain;
    margin-bottom: 35px;
  }

  .login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .login-container h2 {
    font-size: 20px;
  }

  .btn-submit, .btn-secondary {
    padding: 8px;
    font-size: 14px;
  }

  .btn-about {
    padding: 8px;
    font-size: 14px;
  }

}

@media (max-width: 320px) {

  .login-container {
    padding: auto;
  }

  .login-container h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .login-container h2 {
    font-size: 18px;
  }

  .btn-submit, .btn-secondary {
    padding: 8px;
    font-size: 12px;
  }

  .btn-about {
    padding: 8px;
    font-size: 12px;
  } 

}