* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    background-image: linear-gradient(-180deg, #4787FF, #3661d8, #2937b9);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.caixa {
    background-color: #E1DDC3;

    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%;
}

.caixa h1 {
    text-align: center;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
    }
}

.menu-main-button {
    background-color: rgba(22, 31, 70, 0.2) !important;
    margin: 30px;
    margin-top: 30px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}