* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    /*background-image: linear-gradient(135deg, #17469e, #171e5a);*/
    background-image: linear-gradient(#151f52, #132044);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
    }
}

.menu-main-button {
    background-color: rgba(10, 13, 54, 0.342) !important;
    margin: 30px;
    margin-top: 30px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    border: none;
    font-weight: 500;
}

.menu-main-button:hover {
    background-color: #e7671d !important;
    color: white;
}