.mapboxgl-canvas-container {
    cursor: url('../img/cursor-marker.png'), auto !important;
}

.mapboxgl-ctrl-geocoder {
    width: 100%;
    margin-top: 0%;
    position: relative;
}

.mapboxgl-ctrl-geocoder input:focus {
    outline: none;
}

.suggestions-wrapper {
    position: relative;
    top: 100%;
    left: 0;
    z-index: 5;
    margin-top: 0px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.caixa-submit {
    /*form de evento/local*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.inputbox {
    /*caixa das de input dentro do forms*/
    outline: none;
    border: none;
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    padding: 2%;
}


.button-left {
    /*botao de adicionar pin*/
    margin-right: 2%;
    position: relative;
    left: 20%;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1)
    }
}

.button-right {
    /*botao de cancelar pin*/
    margin-left: 2%;
    position: relative;
    right: 20%;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1)
    }
}

.select-adress {
    /*botao de selecionar endereço e abrir o forms*/
    padding: 5px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1)
    }
}

label {
    /*Nome do local/descrição/categoria*/
    font-weight: 500;
    margin-bottom: 2%;
}

.form-changer {
    /*botao de alternar entre form de local e evento*/

    & button {
        background-color: rgb(214, 214, 214);
        border: none;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 600;
    }

    & button:hover {
        background-color: #37c275;
        color: white;
    }
}

.popup-card {
    /*card de informações sobre o pin*/
    max-width: 250px;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;

    & h4 {
        margin: 0 0 10px;
        font-size: 16px;
        color: #333;
    }

    & p {
        margin: 0 0 10px;
        color: #666;
    }

    & span {
        display: inline-block;
        background-color: #0079FE;
        color: white;
        padding: 2px 5px;
        border-radius: 4px;
        font-size: 12px;
    }
}