.mapboxgl-canvas-container {
    cursor: url('../img/cursor-marker.png'), auto !important;
}

.mapboxgl-ctrl-geocoder {
    width: 100%;
    margin-top: 0%;
    position: relative;
}

.mapboxgl-ctrl-geocoder input:focus {
    outline: none;
}

.suggestions-wrapper {
    position: relative;
    top: 100%;
    left: 0;
    z-index: 5;
    margin-top: 0px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.caixa-submit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.inputbox {
    outline: none;
    border: none;
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    padding: 2%;
}

.button-left {
    margin-right: 2%;
    position: relative;
    left: 20%;
    transition: all 0.3s ease;
}

.button-left:hover {
    transform: scale(1.1);
}

.button-right {
    margin-left: 2%;
    position: relative;
    right: 20%;
    transition: all 0.3s ease;
}

.button-right:hover {
    transform: scale(1.1);
}

.select-adress {
    padding: 5px;
    transition: all 0.3s ease;
}

.select-adress:hover {
    transform: scale(1.1);
}

label {
    font-weight: 500;
    margin-bottom: 2%;
}

.button-placeholder1 {
    background-color: red;
    border: none;
    align-items: center;
    justify-content: center;
}

/*ESTILOS PARA POPUPS*/
.popup-pin-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

.popup-pin-set .popup-title {
    padding: 5px;
    background-color: #FF6347;
    border-radius: 5px;
    color: white;
}

.popup-pin-set .popup-description, .popup-pin-set .popup-datetime {
    background-color: white;
}

.popup-pin-set span {
    justify-content: center;
    background-color: #0079FE;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.event-popup {
    width: 220px;
    padding: 15px;
    background-color: #fff;
    border: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: left;
    border-left: 5px solid #FF5733;
}

.event-popup .popup-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.event-popup .popup-description {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666; 
}

.event-popup .popup-datetime {
    font-size: 14px;
    margin-bottom: 10px;
    color: #666;
}

.event-popup .popup-category {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #FF5733;
}

.event-popup .popup-price {
    font-weight: bold;
    color: #28a745;
}

.location-popup {
    max-width: 250px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: left;
    border-left: 5px solid #0079FE;
}

.location-popup .popup-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.location-popup .popup-description {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.location-popup .popup-category {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #0079FE;
}

.location-popup .popup-price {
    font-weight: bold;
    color: #28a745;
}

.location-popup img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Estilo do Menu de Filtros */
.filter-menu {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.category-group {
    margin-bottom: 20px;
}

.category-group h3 {
    margin-bottom: 10px;
    color: #181f27;
}

.category-group label {
    display: flex;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
}

.category-group input[type="checkbox"] {
    margin-right: 10px;
}

.category-group input[type="checkbox"]:checked {
    accent-color: #0079FE;
}

.filter-button {
    background-color: #0079FE;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.filter-button:hover {
    background-color: #0069d9;
    transform: scale(1.05);
}

.filter-button:focus {
    outline: none;
}

.star-rating {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #0079FE;
}

.star {
    color: red;
    margin-right: 2px;
}

.star.filled {
    margin-left: 5px;
    font-size: 1rem;
    color: #555;
}
