.custom-navbar {
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    top: 20px;
    left: 20px;
}

.navbar-brand-fixed {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    user-select: none;
    font-size: 2rem;
    color: rgb(52, 107, 103);
    font-weight: bold;
}

.navbar-expand-false .navbar-collapse {
    position: absolute;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
}

.custom-navbar .navbar-collapse {
    position: absolute;
    justify-content: center;
    top: 100%;
    left: 10%;
    transform: translateX(-60%);
    width: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-navbar .navbar-nav {
    display: flex;
    justify-content: center;
}

.custom-navbar .navbar-toggler {
    background-color: #FBFFE9;
    border: none;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-navbar .navbar-toggler:hover {
    background-color: #dbe9d1;
}