@keyframes slideInFromRight {
    0% {
        transform: translateX(10%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
    }
}

/*botão*/
.button {
    position: absolute;
    right: 0;
    background-color: white !important;
    margin: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    border: none;

    animation: 1s ease-out 0s 1 slideInFromRight;
}

.button:hover {
    background-color: #e7671d !important;
}

/*ícone do botão*/
.button-icon {
    color: gray !important;
    position: relative;
    z-index: 10;
}

.button-icon:hover {
    color: white !important;
}

/*menu aberto*/
.offcanvas-show {
    background-color: white;
    height: 60%;
    border-radius: 10px 0 0 10px;
    margin-bottom: 50%;
}

/*logo do explora manaus e botão de fechar no menu*/
.profile-main {
    width: 70px;
    position: relative;
    top: 15px;
    left: 30px;
    background-color: rgb(214, 214, 214);
    border-radius: 20%;
}

.username {
    position: relative;
    color: #b3b3b3;
    left: 180%;
    bottom: 35px;

}

.close-button {
    margin-right: 20px;
}

/*lista*/
ul {
    list-style: none;
    font-size: larger;
    position: absolute;
    top: 50%;
    transform: translate(0, -28%);
}

.button-menu {
    display: flex;
    margin-bottom: 25%;
    width: 150px;

    color: black;
    background-color: rgb(214, 214, 214);
    border: none;
    border-radius: 8px;
}

.button-menu:hover {
    background-color: #e7671d;
    border-color: #e7671d;
}