@keyframes slideInFromRight {
    0% {
        transform: translateX(10%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
    }
}

/*botão*/
.button {
    position: absolute;
    right: 0;
    background-color: white !important;
    margin-right: 30px;
    margin-top: 18px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);

    animation: 1s ease-out 0s 1 slideInFromRight;
}

.button:hover {
    background-color: #b3b3b3 !important;
}

/*ícone do botão*/
.button-icon {
    color: #b3b3b3 !important;
}

.button-icon:hover {
    color: white !important;
}

/*menu aberto*/
.offcanvas-show {
    background-color: white;
    height: 60%;
    border-radius: 10px 0 0 10px;
    margin-bottom: 50%;
}

/*logo do explora manaus e botão de fechar no menu*/
.logo-main {
    width: 70px;
    height: auto;
}

.close-button {
    margin-right: 20px;
}

/*lista*/
ul {
    list-style: none;
    font-size: larger;
    position: absolute;
    top: 50%;
    transform: translate(0, -30%);
    overflow: hidden;
}

li {
    margin-bottom: 50%;
}